@import "styles";

.project {
    &__banner {
        position: relative;
        text-align: center;
    }

    &__image-container {
        //animation: opacity-fade-in 2s linear 1 forwards;
    }

    &__title {
        font-size: 42px;
        padding: 16px 0;
    }
}
