@import "styles";

.page-load-animation {
	animation: 2s disappear-on-end forwards;
	background-color: $black;
	font-size: $font-42;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: opacity 0.5s;
	width: 100%;
	z-index: $z-index-mobile-nav-overlay;

	@include respond-to(max-width, 1024px) {
		font-size: $font-34;
	}

	@include respond-to(max-width, 480px) {
		font-size: $font-22;
	}

	@include respond-to(max-width, 360px) {
		font-size: $font-18;
	}

	&__text {
		animation: 1.5s page-animation-overlay-disappear ease-in forwards;
		font-family: $font-page-load-animation;
		letter-spacing: 10px;
		padding: 0 16px;
		position: relative;
		text-align: center;
		text-shadow: -1.5px -0.2px 0.5px $text-anaglyph-left-inner,
			-3px -0.2px 0.5px $text-anaglyph-left-outer,
			1.5px -0.3px 0.5px $text-anaglyph-right-inner,
			3.5px 0.2px 0.5px $text-anaglyph-right-outer;
		text-transform: uppercase;
		top: 40vh;

		@include respond-to(max-width, 768px) {
			text-shadow: -1px -0.2px 0.5px $text-anaglyph-left-inner,
				-2px -0.2px 0.5px $text-anaglyph-left-outer,
				1px -0.3px 0.5px $text-anaglyph-right-inner,
				2.5px 0.2px 0.5px $text-anaglyph-right-outer;
		}
	}

	&__word {
		display: inline-block;
		margin: 12px;
	}

	&--invisible {
		opacity: 0;
	}

	&--finished {
		display: none;
	}
}
