@keyframes page-animation-overlay-disappear {
    0%      { transform: scale(1); }
    95%     { transform: scale(0.95); }
    100%    { transform: scale(0); }
}

@keyframes spinning-loader {
    0%      { transform: rotate(0deg); }
    100%    { transform: rotate(360deg); }
}
