$black: #000000;
$white: #ffffff;
$red: #ff0000;
$transparent: rgba(0, 0, 0, 0);

$grey-300: rgb(250, 250, 250);
$grey-400: rgb(240, 240, 240);
$grey-500: rgb(230, 230, 230);
$grey-600: rgb(210, 210, 210);
$grey-900: rgb(100, 100, 100);
$grey: $grey-500;

$text-default: $grey;
$text-bright: $white;
$text-hover: $grey-600;
$text-active: $grey-300;

$page-background: rgb(18, 20, 18);
$header-background: rgb(4, 6, 4);

$side-title-color: rgba($white, 0.9);
