@import "./typography";
@import "./colors";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: $text-default;
	font-family: $font-text;
	position: relative;
}

a {
	color: $white;
	text-decoration: none;
}

button,
input,
textarea {
	border: 0;
	font-family: $font-text;
}

input:focus,
textarea:focus {
	outline-offset: 2px;
}
