@import "./typography";
@import "./colors";

@mixin safari-only {
	@media not all and (min-resolution:.001dpcm) { 
		@supports (-webkit-appearance:none) {@content;}
	}
}

@mixin respond-to($media, $value) {
	@media screen and ($media: $value) {
		@content;
	}
}

@mixin respond-between($media, $value, $media2, $value2) {
	@media screen and ($media: $value) and ($media2: $value2) {
		@content;
	}
}

@mixin side-title {
	color: $side-title-color;
	font-family: $font-navigation;
	position: absolute;
	text-transform: uppercase;
	writing-mode: vertical-rl;

	@include respond-to(max-width, $break-tablet-small) {
		font-size: $font-34;
		opacity: 0;
	}

	@include respond-to(max-width, $break-phone-big) {
		font-size: $font-30;
	}

	&--always-enabled {
		@include respond-to(max-width, $break-tablet-small) {
			opacity: 1;
		}
	}
}
