@import "./colors";
@import "./mixins";
@import "./variables";

// side titles
.side-title-left {
	@include side-title;

	font-size: $font-40;
	left: 0;
	padding-bottom: calc(#{$header-height} + 16px);
	top: 0;
	transform: rotate(180deg);
}

.side-title-right {
	@include side-title;

	bottom: 0;
	font-size: $font-48;
	padding-bottom: calc(#{$header-height} / 3);
	right: 0;
}

// ----------------------------------------------------
// for screen reader
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	white-space: nowrap;
	width: 1px;
}

// ----------------------------------------------------
// form
.form-row {
	display: flex;
	gap: 24px;

	@include respond-to(max-width, $break-phone-huge) {
		flex-direction: column;
		gap: 0;
	}

	@include safari-only {
		@include respond-to(min-width, $break-phone-huge-min) {
			gap: 0;
		}
	}
}

// buttons
.button-link {
	align-items: center;
	background-color: $white;
	color: $black;
	display: flex;
	font-size: $font-32;
	justify-content: center;
	letter-spacing: 0.5px;
	min-width: 200px;
	padding: 10px 16px;
	text-transform: uppercase;

	@include respond-to(max-width, $break-laptop) {
		margin: 0 16px;
	}

	@include respond-to(max-width, $break-tablet-small) {
		margin: 0 0 32px;
		text-align: center;
	}

	&__image {
		height: 36px;
		margin-right: 8px;
		width: 36px;
	}

	&:last-of-type {
		@include respond-to(max-width, $break-tablet-small) {
			margin: 0;
		}
	}

	&:hover {
		background-color: rgba($white, 0.9);
	}

	&:active {
		background-color: $white;
	}

	&:focus {
		outline-offset: 8px;
	}

	&--small {
		font-size: $font-22;
		padding: 4px 16px;
	}

	&--medium {
		font-size: $font-26;
	}

	&--project {
		font-size: $font-26;
		padding: 6px 16px;

		@include respond-to(max-width, $break-phone-big) {
			font-size: $font-22;
		}
	}

	&--wide {
		width: 75%;

		@include respond-to(max-width, $break-tablet-small) {
			width: 100%;
		}
	}

	&--no-margin {
		margin: 0;

		@include respond-to(max-width, $break-laptop) {
			margin: 0;
		}
	}
	
	&--no-outline:focus {
		outline: 0;
	}
}

// ----------------------------------------------------
// page layout (mainly used for 'about' and 'single project' pages)
.page {
	// sections
	&__section {
		padding-bottom: 64px;
	}

	&__section:not(:first-of-type) {
		border-top: 1px solid $section-border-color;
		padding-top: 64px;
	}

	&__section-title {
		font-size: $font-24;
		margin-bottom: 16px;
	}

	&__section--vertical {
		display: grid;
		grid-auto-rows: min-content;
		justify-content: center;
		row-gap: 28px;

		@include respond-to(max-width, $break-tablet-small) {
			row-gap: 0;
		}
	}

	// list (can be a lot of text)
	&__list {
		list-style-type: "\2B25";
		margin-left: 48px;
	}

	&__list-item {
		font-size: $font-18;
		margin-bottom: 8px;
		padding-left: 4px;
	}

	// multiple column layout list (should be a low amount of text)
	&__skills {
		display: flex;
		justify-content: space-evenly;
		margin-top: 128px;

		@include respond-to(max-width, $break-tablet-small) {
			flex-direction: column;
		}
	}

	&__skills--reduced-margin {
		margin-top: 64px;
	}

	&__skills-column {
		flex-basis: 30%;

		@include respond-to(max-width, $break-tablet-big) {
			flex-basis: 40%;
		}
	}

	&__skills-column--wide {
		flex-basis: 50%;

		@include respond-to(max-width, $break-tablet-big) {
			flex-basis: 70%;
		}
	}

	// paragraph of text
	&__description {
		font-size: $font-18;
		letter-spacing: 0.4px;
		line-height: 1.5;
		max-width: 80%;
		padding-left: 48px;

		@include respond-to(max-width, $break-tablet-big) {
			
			max-width: 90%;
		}
		@include respond-to(max-width, $break-tablet-small) {
			font-size: $font-17;
		}

		@include respond-to(max-width, $break-phone-big) {
			padding-left: 46px;
		}
	}

	// action buttons (navigation to other pages)
	&__action {
		display: flex;
		justify-content: space-evenly;
		margin: 5vh auto 0;
		max-width: 75%;

		@include respond-to(max-width, $break-tablet-big) {
			max-width: 100%;
		}

		@include respond-to(max-width, $break-tablet-small) {
			flex-direction: column;
			max-width: 75%;
		}

		@include respond-to(max-width, $break-phone-huge) {
			max-width: 100%;
		}
	}

	&__action--no-margin {
		margin: 0 auto;
	}

	&__action--homepage {
		margin: 20vh auto 2vh;

		@include respond-to(max-width, $break-tablet-small) {
			margin: 12vh auto 2vh;
		}
	}
}
