@import "./colors.scss";
@import "./mixins.scss";
@import "./variables.scss";

// buttons
.button-link {
    background-color: $white;
    //border: 2px solid $white;
    color: $black;
    font-size: 32px;
    padding: 10px 16px;
    text-align: center;
    text-transform: uppercase;
    min-width: 200px;
}

.button-link:hover {
    background-color: rgba($white, 0.9);
    //border: 2px solid $black;
    //color: $white;
}

.button-link:active {
    background-color: $white;
    //background-color: $page-background;
}

.button-link:focus {
    outline-offset: 8px;
}

// ----------------------------------------------------
// text
.side-title-left {
    @include side-title;
    
    font-size: 2.5rem;
    padding-bottom: calc(#{$header-height} + 16px);
    transform: rotate(180deg);
    top: 0;
    left: 0;
}

.side-title-right {
    @include side-title;

    font-size: 3rem;
    bottom: 0;
    padding-bottom: calc(#{$header-height} / 3);
    right: 0;
}
