@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto+Slab:wght@400;500;700&display=swap");
$font-navigation: "Noto Sans", sans-serif; // weights: 400, 700
$font-text: "Roboto Slab", serif; // weights: 400, 500, 700
$font-page-load-animation: arial;

$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-26: 26px;
$font-24: 24px;
$font-28: 28px;
$font-30: 30px;
$font-32: 32px;
$font-34: 34px;
$font-40: 40px;
$font-44: 44px;
$font-42: 42px;
$font-48: 48px;
$font-60: 60px;
$font-100: 100px;
