@import "styles";

.contact {
  flex-grow: 1;

  &__content {
    display: flex;
    padding: 0 8px;
  }

  &__links {
    display: grid;
    flex-grow: 2;
    row-gap: 44px;
    grid-auto-rows: min-content;
    margin-top: 12vh;

    @include respond-to(max-width, 1160px) {
      flex-grow: 1;
    }
  }

  &__email-link {
    font-size: 24px;
    text-align: center;
  }

  &__message {
    flex-grow: 3;
    margin-left: 100px;

    @include respond-to(max-width, 1160px) {
      margin-left: 64px;
      flex-grow: 4;
    }
  }

  &__message-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 48px;
  }

  &__form {
    position: relative;
  }

  &__submit {
    cursor: pointer;
    width: 100%;
  }
}
