@import "styles";

.contact {
	flex-grow: 1;

	&__content {
		display: flex;
		padding: 0 8px;
	}

	&__links {
		display: grid;
		flex-grow: 2;
		grid-auto-rows: min-content;
		margin-top: 12vh;
		row-gap: 44px;

		@include respond-to(max-width, 1160px) {
			flex-grow: 1;
		}
	}

	&__email-link {
		font-size: $font-24;
		text-align: center;
	}

	&__message {
		flex-grow: 3;
		margin-left: 100px;

		@include respond-to(max-width, 1160px) {
			flex-grow: 4;
			margin-left: 64px;
		}
	}

	&__message-title {
		font-size: $font-30;
		font-weight: 500;
		margin-bottom: 48px;
	}

	&__form {
		position: relative;
	}

	&__submit {
		cursor: pointer;
		width: 100%;
	}
}
