@import "styles";

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__background-color {
		background-color: $black;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: $z-index-mobile-nav-overlay;
	}

	&--with-animation {
		overflow: hidden;
	}
}

.header,
.footer {
	background-color: $header-background;
	height: $header-height;
}

.header {
	align-items: center;
	display: flex;

	&--nav-active {
		@include respond-to(max-width, $break-mobile-navigation) {
			align-items: initial;
			background: url("../../images/background-overlay.png");
			background-attachment: fixed;
			background-color: rgba($header-background, 0.65);
			background-repeat: repeat;
			left: 0;
			min-height: 100vh;
			overflow: scroll;
			padding-top: 132px;
			position: fixed;
			top: 0;
			width: 100vw;
			z-index: $z-index-mobile-nav-overlay;
		}
	}
}

.main {
	background: url("../../images/background-overlay.png");
	background-attachment: fixed;
	background-color: rgba($page-background, 0.55);
	background-repeat: repeat;
	flex-grow: 1;
	padding: 60px 80px;

	@include respond-to(max-width, $break-tablet-small) {
		padding: 32px 16px 48px;
	}

	@include respond-to(max-width, $break-phone-big) {
		padding: 32px 8px 48px;
	}

	&__content {
		margin: 0 auto;
	}

	&__content--with-max-width {
		max-width: $page-max-width;
	}

	&__background-image-container {
		left: 0;
		position: fixed;
		top: 0;
		z-index: $z-index-hidden;
	}

	&__background-image {
		min-height: 100vh;
		min-width: 100vw;
	}

	&__background-color {
		background-color: $page-background-image-color;
		height: 100%;
		left: 0;
		padding: $header-height 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: $z-index-hidden;
	}

	&--no-padding {
		padding: 0;
	}

	&--centered {
		align-items: center;
		display: flex;
	}

	&--hidden {
		display: none;
	}
}
