@import "styles";

.nav {
    font-family: $font-navigation;
    z-index: $z-index-overlay;

    &__list {
        display: flex;
        align-items: center;
        padding: 8px 24px;
        list-style: none;
    }

    &__item {
        margin-right: 52px;
    }

    &__item:first-of-type {
        text-align: center;
    }

    &__big-text {
        color: $text-bright;
        display: block;
        font-size: 44px;
        line-height: 0.75;
        letter-spacing: 2px;
    }

    &__small-text {
        display: inline-block;
        font-size: 18px;
        width: 100%;
    }

    &__link {
        color: $text-bright;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    &__link:hover {
        color: $text-hover;
        border-bottom: 1px solid $text-hover;
    }

    &__link:active {
        color: $text-active;
        border-bottom: 1px solid $text-active;
    }

    &__link:focus {
        outline-offset: 0;
    }

    &__link--active {
        border-bottom: 1px solid $text-bright;
    }

    &__link--home {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
}
