@import "styles";

.nav {
	font-family: $font-navigation;
	width: 100%;
	z-index: $z-index-overlay;

	&__menu {
		position: absolute;
		right: 24px;
		top: 23px;

		@include respond-to(min-width, $break-mobile-navigation-min) {
			display: none;
		}
	}

	&__menu-text {
		font-size: $font-24;
	}

	&__item {
		margin-right: 52px;
	}

	&__item:first-of-type {
		text-align: center;
	}

	&__item:not(:first-of-type) {
		@include respond-to(max-width, $break-mobile-navigation) {
			display: none;
		}
	}

	&__list {
		align-items: center;
		display: flex;
		list-style: none;
		padding: 8px 24px;

		@include respond-to(max-width, $break-mobile-navigation) {
			justify-content: space-between;
		}
	}

	&__list--active {
		@include respond-to(max-width, $break-mobile-navigation) {
			flex-direction: column;
		}
	}

	&__list--active &__item {
		@include respond-to(max-width, $break-mobile-navigation) {
			display: list-item;
			margin-bottom: 32px;
			margin-right: 0;
		}
	}

	&__big-text {
		color: $text-bright;
		display: block;
		font-size: $font-44;
		letter-spacing: 2px;
		line-height: 0.75;
	}

	&__small-text {
		display: inline-block;
		font-size: $font-18;
		width: 100%;
	}

	&__link,
	&__menu {
		border-bottom: 1px solid $transparent;
		color: $text-bright;
		font-size: $font-20;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}

	&__link:hover,
	&__menu:hover {
		border-bottom: 1px solid $text-hover;
		color: $text-hover;
	}

	&__link:active,
	&__menu:active {
		border-bottom: 1px solid $text-active;
		color: $text-active;
	}

	&__link:focus,
	&__menu:focus {
		outline-offset: 0;
	}

	&__link--active {
		border-bottom: 1px solid $text-bright;
	}

	&__link--home {
		display: inline-block;
		height: 100%;
		width: 100%;
	}
}
