@import "styles";

.homepage {
	max-width: $home-page-max-width;

	&__title {
		letter-spacing: 7px;
		line-height: 1.8;
		margin: 10vh auto 0;
		max-width: 75%;
		text-align: center;
		text-transform: uppercase;
	}
}
