@import "styles";

.projectLink {
    flex-shrink: 0;

    &__image {
        display: block;
        height: auto;
        max-height: $page-height-viewport-content;
        max-width: 100%;
    }
}
