@import "styles";

.not-found {
	&__title,
	&__suggestion {
		text-align: center;
	}

	&__title {
		font-size: $font-40;
		margin-top: 32px;
	}

	&__suggestion {
		font-size: $font-28;
		margin-bottom: 40px;
	}
}
